#SlideShow {
    position: relative;
    display: block;
    padding-bottom: 18px;
    padding-left: 30px;
    margin-top: 15px;
}
#SlideShow img{
  height: 400px;
  width: 100%;
}
h1{
  visibility: hidden;
  height: 0;
}
.Home-Box_Link a{
  color: #fff;

  text-decoration: none;

}
.Home-Boxs{
  display: table;
  position: relative;
  height: auto;
  width: auto;
  align-self: center;
  margin: 2% 3.5% 2% 3.5% ;
  padding: 1.5% 2.5% 1.5% 2.5% ;
}
.Home-Box{
  display: block;
  padding: 0.7% 0.7% 0.7% 0.7% ;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  min-height: 200px;
  background:#fff;
  background-size: cover;
  display:inline-block;
  height: 100%;
  max-height: 336px;
  width: 30%;
  float:left;
  border: 1% solid #1b9bff;
  border-width: 1%;
  border-style: solid;
  border-color: #1b9bff;

}
.Home-Box_Link{
  position: static;
  font-weight: 700;
	margin-left:20%;
  margin-right:20%;
	height:33%;
	width:60%;
	border-radius:2px;
	background:#333;
	color:#FFFFFF;
	text-align:center;
  margin-bottom: 0;
}
.Home-Box_info{
  border: 0.5px;
  border-style: solid;
  border-color:#333;
  text-align:center;
  margin-bottom: 2px;
  max-height:109px;
  overflow-y: scroll;
  height:33%;
  width:90%;
  margin-left:5%;
  margin-right:5%;
}
.Home-Box img {
  background-color: darkred;
	height:33%;
	width:90%;
  margin-left:5%;
  margin-right:5%;
	background-size:auto;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Home-Boxs{
      display: table;
      position: relative;
      height: auto;
      width: auto;
      align-self: center;
      margin: 2% 3.5% 2% 3.5% ;
      padding: 1.5% 2.5% 1.5% 2.5% ;
    }
    .Home-Box{
      display: block;
      padding: 0.7% 0.7% 0.7% 0.7% ;
      margin-left: 3px;
      margin-right: 3px;
      position: relative;
      min-height: 200px;
      background:#fff;
      background-size: cover;
      display:inline-block;
      height: 100%;
      max-height: 336px;
      width: 27%;
      float:left;
      border: 1% solid #1b9bff;
      border-width: 1%;
      border-style: solid;
      border-color: #1b9bff;

    }
}
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .Home-Boxs{
      display: table;
      position: relative;
      height: auto;
      width: 100%;
      align-self: center;
      margin: 2% 3% 2% 3% ;
      padding: 1.5% 1% 1.5% 3% ;
    }
    .Home-Box{
      display: block;
      padding: 0.7% 0.7% 0.7% 0.7% ;
      margin-left: 4.5px;
      margin-right: 4.5px;
      position: relative;
      min-height: 200px;
      background:#fff;
      background-size: cover;
      display:inline-block;
      height: 100%;
      max-height: 336px;
      width: 27%;
      float:left;
      border: 1% solid #1b9bff;
      border-width: 1%;
      border-style: solid;
      border-color: #1b9bff;

    }

}
