/*
Theme Name: Blue--Restaurant
Theme URI: http://SahandMirzaee.com
Description: This is just a Blue--Restaurant Theme For WordPress CMS
Author: SahandM96
Author URI: http://SahandMirzaee.Com
Version: 2
*/

@media screen {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background:url('images/BG.png');
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
        background-attachment: fixed;
        font: 14px/1.4 Georgia, Serif;
    }
    .screen-reader-text {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
    .clear {
        clear: both;
    }
    .group:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    * html .group, *:first-child+html .group {
        zoom: 1;
    }
    /* First selector = IE6, Second Selector = IE 7 */
    #page-wrap {
        width: 960px;
        margin: 8px auto;
    }
    h1, h2, h3 {
        font-weight: normal;
        margin: 0 0 10px 0;
    }
    h1 {}
    h2 {}
    h3 {}
    p {
        margin: 0 0 10px 0;
    }
    a {}
    a:hover {}
    blockquote {}
    blockquote p {}
    ul, ol {
        margin: 0 0 10px 0;
    }
    .post {}
    .entry {}
    .entry a {}
    .entry a:hover {}
    pre {}
    code, tt {}
    #meta {}
    .postmetadata {}
    #sidebar {}
    navgation {}
    .next-posts {}
    .prev-posts {}
    #searchform {}
    #s {}
    #searchsubmt {}
    ol.commentlist {
        list-style: none;
    }
    ol.commentlist li {}
    ol.commentlist li.alt {}
    ol.commentlist li.bypostauthor {}
    ol.commentlist li.byuser {}
    ol.commentlist li.comment-author-admin {}
    ol.commentlist li.comment {
        border-bottom: 1px dotted #666;
        padding: 10px;
    }
    ol.commentlist li.comment div.comment-author {}
    ol.commentlist li.comment div.vcard {}
    ol.commentlist li.comment div.vcard cite.fn {
        font-style: normal;
    }
    ol.commentlist li.comment div.vcard cite.fn a.url {}
    ol.commentlist li.comment div.vcard img.avatar {
        float: right;
        margin: 0 0 10px 10px;
    }
    ol.commentlist li.comment div.vcard img.avatar-32 {}
    ol.commentlist li.comment div.vcard img.photo {}
    ol.commentlist li.comment div.vcard span.says {}
    ol.commentlist li.comment div.commentmetadata {}
    ol.commentlist li.comment div.comment-meta {
        font-size: 10px;
    }
    ol.commentlist li.comment div.comment-meta a {
        color: #ccc;
    }
    ol.commentlist li.comment p {}
    ol.commentlist li.comment ul {}
    ol.commentlist li.comment div.reply {
        font-size: 11px;
    }
    ol.commentlist li.comment div.reply a {
        font-weight: bold;
    }
    ol.commentlist li.comment ul.children {
        list-style: none;
        margin: 10px 0 0;
    }
    ol.commentlist li.comment ul.children li {}
    ol.commentlist li.comment ul.children li.alt {}
    ol.commentlist li.comment ul.children li.bypostauthor {}
    ol.commentlist li.comment ul.children li.byuser {}
    ol.commentlist li.comment ul.children li.comment {}
    ol.commentlist li.comment ul.children li.comment-author-admin {}
    ol.commentlist li.comment ul.children li.depth-2 {
        border-left: 5px solid #555;
        margin: 0 0 10px 10px;
    }
    ol.commentlist li.comment ul.children li.depth-3 {
        border-left: 5px solid #999;
        margin: 0 0 10px 10px;
    }
    ol.commentlist li.comment ul.children li.depth-4 {
        border-left: 5px solid #bbb;
        margin: 0 0 10px 10px;
    }
    ol.commentlist li.comment ul.children li.depth-5 {}
    ol.commentlist li.comment ul.children li.odd {}
    ol.commentlist li.even {
        background: #fff;
    }
    ol.commentlist li.odd {
        background: #f6f6f6;
    }
    ol.commentlist li.parent {
        border-left: 5px solid #111;
    }
    ol.commentlist li.thread-alt {}
    ol.commentlist li.thread-even {}
    ol.commentlist li.thread-odd {}
    form {}
    input[type=text] {}
    textarea {}
}

/* END screen media */

@media print {
    .do-not-print {
        display: none;
    }
    #comments {
        page-break-before: always;
    }
    body {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.4;
        word-spacing: 1.1pt;
        letter-spacing: 0.2pt;
        font-family: Garamond, "Times New Roman", serif;
        color: #000;
        background: none;
        font-size: 12pt;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: Helvetica, Arial, sans-serif;
    }
    h1 {
        font-size: 19pt;
    }
    h2 {
        font-size: 17pt;
    }
    h3 {
        font-size: 15pt;
    }
    h4, h5, h6 {
        font-size: 12pt;
    }
    code {
        font: 10pt Courier, monospace;
    }
    blockquote {
        margin: 1.3em;
        padding: 1em;
    }
    img {
        display: block;
        margin: 1em 0;
    }
    a img {
        border: none;
    }
    table {
        margin: 1px;
        text-align: left;
    }
    th {
        border-bottom: 1px solid #333;
        font-weight: bold;
    }
    td {
        border-bottom: 1px solid #333;
    }
    th, td {
        padding: 4px 10px 4px 0;
    }
    caption {
        background: #fff;
        margin-bottom: 2em;
        text-align: left;
    }
    thead {
        display: table-header-group;
    }
    tr {
        page-break-inside: avoid;
    }
    a {
        text-decoration: none;
        color: black;
    }
    #footer p {
        text-align: center;
    }
}

/* END print media */

/* The container <div> - needed to position the dropdown content */


h2{
  color: rgba(#0029fe, 0.94);
  margin-top: 10px;
  text-align: center;
  text-shadow: 2px 0.5px #262d30;

}
h2 a{
  text-decoration: none;
}
